@media screen and (max-width: 992px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-size: 0.938rem;
        --small-size: 0.813rem;
        --Xsmall-size: 0.75rem;
    }
}
