@media screen and (max-width: 992px) {
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-size: 0.938rem;
        --small-size: 0.813rem;
        --Xsmall-size: 0.75rem;
    }
}
img {
    max-width: 100%;
    height: auto;
}
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: $textwhite;
    padding: 1rem 1.75rem;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: all 300ms ease;
    cursor: pointer;
    &:hover {
        background: var(--first-color-alt);
    }
}
.section {
    padding: 7rem 0 2rem;
}
.section_title,
.breadcrumb_title {
    font-size: $sizeh1;
    margin-bottom: $margin-B3;
}
.section_title,
.breadcrumb_title,
.breadcrumb_subtitle {
    text-align: center;
}
.container {
    max-width: 968px;
    margin: 0 auto;
}
.grid {
    display: grid;
}
.active_links {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        bottom: -0.75rem;
        left: 45%;
        width: 5px;
        height: 5px;
        background-color: $titleColor;
        border-radius: 50%;
    }
}
.show_cart {
    right: 0 !important;
}
.button-flex {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
}
.swiper-pagination {
    position: initial !important;
    margin-top: $margin-B2b !important;
    .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        background: $titleColor;
        opacity: 1;
        &-active {
            width: 1.5rem;
            height: 5px;
            border-radius: 0.5rem;
        }
    }
}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.5rem !important;
}
.scroll-header {
    background: $bodyBg;
    box-shadow: 0 1px 4px $shadow;
}
