* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}
html {
    scroll-behavior: smooth;
}
body,
button,
input {
    font-family: $fontP;
    font-size: $size;
}
body {
    background-color: $bodyBg;
    color: $textColor;
    @media screen and (max-width: 767px) {
        margin: $headerHeight 0 0 0;
    }
}
h1,
h2,
h3,
h4 {
    color: $titleColor;
    font-weight: 500;
}
.login,
.cart {
    @media screen and (max-width: 576px) {
        width: 100% !important;
    }
}
