$titleColor: #242329;
$textColor: #545260;
$bodyBg: #f8f7fc;
$textwhite: #ffffff;
$shadow: #262626;
$scrollBarColor: #e3e2e9;
$scrollThumbColor: #c8c6d2;
$fontP: "Poppins", sans-serif;
$size1: 4rem;
$sizeh1: 2.5rem;
$sizeh2: 1.5rem;
$sizeh3: 1.25rem;
$size: 1rem;
$sizeS: 0.875rem;
$sizeXS: 0.813rem;
$margin-B1: 1rem;
$margin-B2: 2rem;
$margin-B2b: 2.5rem;
$margin-B3: 3rem;
$margin-Bs: 0.5rem;
$margin-BXs: 0.75rem;
$z-tooltip: 10;
$z-fixed: 100;
