@import "./modules/varible";
@import "./modules/reset";
@import "./modules/classes";
.header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    transition: all 300ms ease;

    .nav {
        height: calc(3.5rem + 1.5rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        .nav_logo {
            text-transform: lowercase;
            font-weight: 600;
            letter-spacing: 1px;
            display: inline-flex;
            align-items: center;
            gap: 0.25rem;

            .logoIcon {
                .nav_logo_Icon {
                    font-size: 1.25rem;
                }
            }
        }
        .nav_btns {
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-left: auto;
            .nav_toggle {
                display: none;
            }
            .login_toggle,
            .nav_toggle,
            .nav_shop {
                font-size: 1.25rem;
                cursor: pointer;
            }
        }
        .nav-menu {
            .nav_list {
                display: flex;
                gap: 2rem;
                align-items: center;
                .nav_links {
                    color: $titleColor;
                    font-size: $size;
                    font-weight: 500;
                    transition: all 300ms ease;
                    &:hover {
                        color: var(--first-color);
                    }
                }
            }
        }
        .nav_logo,
        .login_toggle,
        .nav_toggle,
        .nav_shop {
            color: $titleColor;
        }
    }
}
.home {
    .home-swiper {
        .swiper-wrapper {
            .swiper-slide {
                .home_content {
                    padding: 9rem 0 2rem;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 3rem;
                    .home_group {
                        display: grid;
                        position: relative;
                        padding-top: 2rem;
                        .home_img {
                            height: 420px;
                            transform: translateY(-4rem);
                            justify-self: center;
                        }
                        .home_indicator {
                            width: 8px;
                            height: 8px;
                            background-color: $titleColor;
                            border-radius: 100%;
                            position: absolute;
                            bottom: 15%;
                            left: 50%;
                            &::after {
                                content: "";
                                position: absolute;
                                top: 0;
                                right: 45%;
                                width: 1px;
                                height: 75px;
                                background-color: $titleColor;
                            }
                        }
                        .home_details-img {
                            position: absolute;
                            bottom: 0;
                            right: 58%;
                            .home_details-subtitle {
                                font-size: $sizeh3 !important;
                                text-transform: uppercase;
                                margin-bottom: $margin-B1;
                            }
                            .home_details-title,
                            .home_details-subtitle {
                                display: block;
                                text-align: right;
                                font-size: $sizeS;
                            }
                        }
                    }
                    .home_data {
                        .home_title {
                            font-size: $size1;
                            font-weight: 600;
                            line-height: 119%;
                            margin-bottom: $margin-B2;
                        }
                        .home_description {
                            margin-bottom: $margin-B2b;
                            padding-right: 2rem;
                        }
                        .home_buttons {
                            display: flex;
                            justify-content: space-between;
                            .button-link {
                                color: var(--first-color);
                                .button_icon {
                                    font-size: $sizeh2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.discount {
    .discount_container {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        column-gap: 7rem;
        background-color: $textwhite;
        padding: 3rem 0;
        border-radius: 3rem;
        .discount_img {
            width: 200px;
        }
        .discount_data {
            padding-left: 6rem;
            text-align: center;
            .discount_title {
                font-size: $sizeh2;
                margin-bottom: $margin-B2;
            }
        }
    }
}
.new {
    .new_container {
        padding: 1rem;
        .new_content {
            position: relative;
            background-color: $textwhite;
            width: 310px;
            padding: 2rem 0;
            text-align: center;
            border-radius: 1rem;
            overflow: hidden;
            &:hover {
                .new_button {
                    right: 0;
                }
                .new_img {
                    transform: translateY(-0.5rem);
                }
            }
            .new_tag {
                position: absolute;
                top: 8%;
                left: 8%;
                background: var(--first-color);
                color: $textwhite;
                font-size: $sizeS;
                padding: 0.25rem 0.5rem;
                border-radius: 0.25rem;
                transition: all 300ms ease;
            }
            .new_title {
                font-size: $sizeh3;
                font-weight: 500;
            }
            .new_subtitle {
                display: block;
                font-size: $sizeS;
                margin-bottom: $margin-B1;
            }
            .new_prices {
                display: inline-flex;
                align-items: center;
                column-gap: 0.5rem;
                .new_price {
                    font-weight: 500;
                    color: $titleColor;
                }
                .new_discount {
                    color: var(--first-color);
                    font-size: $sizeS;
                    font-weight: 500;
                    text-decoration: line-through;
                }
            }
            .new_button {
                display: inline-flex;
                padding: 0.5rem;
                border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
                position: absolute;
                bottom: 0;
                right: -3rem;
                .new_icon {
                    font-size: 1.25rem;
                }
            }
            .new_img {
                width: 150px;
                margin-bottom: $margin-B1;
                transition: all 300ms ease;
            }
        }
    }
}
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: $bodyBg;
    z-index: $z-fixed;
    width: 420px;
    height: 100%;
    box-shadow: -2px 0 4px $shadow;
    padding: 3.5rem 2rem;
    transition: all 300ms ease;
    .closecartIcon {
        i {
            font-size: 2rem;
            color: $titleColor;
            position: absolute;
            top: 1.25rem;
            right: 0.9rem;
            cursor: pointer;
        }
    }
    .cart_title-center {
        font-size: $sizeh2;
        text-align: center;
        margin-bottom: $margin-B3;
    }
    .cart_container {
        display: grid;
        row-gap: 1.5rem;
        .cart_card {
            display: flex;
            align-items: center;
            gap: 1rem;
            .cart_box {
                display: flex;
                align-items: center;
                padding: 0.75rem 1.25rem;
                background-color: $textwhite;
                img {
                    width: 85px;
                }
            }
            .cart_details {
                .cart_title {
                    font-size: $size;
                    margin-bottom: $margin-Bs;
                }
                .cart_price {
                    display: block;
                    font-size: $sizeS;
                    color: var(--first-color);
                    margin-bottom: $margin-BXs;
                }
                .cart_amount {
                    column-gap: 3rem;
                }
                .cart_amount-content {
                    column-gap: 1rem;
                    .cart_amount-box {
                        display: inline-flex;
                        background-color: $textwhite;
                        padding: 0.25rem;
                        cursor: pointer;
                    }
                }
                .trash_cart {
                    i {
                        font-size: 1.15rem;
                        color: var(--first-color);
                        cursor: pointer;
                    }
                }
                .cart_amount,
                .cart_amount-content {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .cart_prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6rem;
        .cart_price-item {
            font-size: $sizeS;
        }
        .cart_price-total {
            font-size: $sizeh3;
            font-weight: 500;
        }
        .cart_price-item,
        .cart_price-total {
            color: $titleColor;
        }
    }
}
.login {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: $bodyBg;
    z-index: $z-fixed;
    width: 420px;
    height: 100%;
    box-shadow: -2px 0 4px $shadow;
    padding: 3.5rem 2rem;
    transition: all 300ms ease;
    .closeLoginIcon {
        i {
            font-size: 2rem;
            color: $titleColor;
            position: absolute;
            top: 1.25rem;
            right: 0.9rem;
            cursor: pointer;
        }
    }
    .login_title {
        font-size: $sizeh2;
        text-align: center;
        margin-bottom: $margin-B3;
    }
    .login_Form {
        row-gap: 1.5rem;
        .login_content {
            background-color: $textwhite;
            border-radius: 0.5rem;
            padding: 0.75rem 1rem 0.25rem;
            .login_label {
                font-size: $sizeS;
                color: $titleColor;
            }
            .login_input {
                width: 100%;
                background-color: $textwhite;
                color: $textColor;
                font-size: $size;
                padding: 0.25rem 0.5rem 0.5rem 0;
            }
        }
        .signUp {
            color: $titleColor;
            font-size: $sizeS;
            font-weight: 500;
            a {
                color: var(--first-color);
            }
        }
    }
}
