@import "./modules/varible";
@import "./modules/reset";
@import "./modules/classes";
.header {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    transition: all 300ms ease;

    .nav {
        height: calc(3.5rem + 1.5rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        @media screen and (max-width: 767px) {
            height: $headerHeight;
        }
        @media screen and (max-width: 320px) {
            gap: 0;
        }
        .nav_logo {
            text-transform: lowercase;
            font-weight: 600;
            letter-spacing: 1px;
            display: inline-flex;
            align-items: center;
            gap: 0.25rem;
            @media screen and (max-width: 790px) {
                font-size: 0.813rem;
            }
            .logoIcon {
                .nav_logo_Icon {
                    font-size: 1.25rem;
                    @media screen and (max-width: 790px) {
                        font-size: 0.875rem;
                    }
                }
            }
        }
        .nav_btns {
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-left: auto;

            .login_toggle,
            .nav_toggle,
            .nav_shop {
                font-size: 1.25rem;
                cursor: pointer;
            }
        }
        .nav-menu {
            @media screen and (max-width: 767px) {
                position: fixed;
                background-color: $bodyBg;
                top: 0;
                right: -100%;
                width: 100%;
                height: 100%;
                padding: 6rem 2rem 3.5rem;
                transition: all 300ms ease;
            }
            .nav_list {
                display: flex;
                gap: 2rem;
                align-items: center;
                @media screen and (max-width: 767px) {
                    flex-direction: column;
                }
                .nav_links {
                    color: $titleColor;
                    font-size: $size;
                    font-weight: 500;
                    transition: all 300ms ease;
                    @media screen and (max-width: 992px) {
                        font-size: var(--normal-size);
                    }
                    &:hover {
                        color: var(--first-color);
                    }
                }
            }
        }
        .navclose,
        .nav_logo,
        .login_toggle,
        .nav_toggle,
        .nav_shop {
            color: $titleColor;
        }
    }
}
.home {
    .home-swiper {
        .swiper-wrapper {
            &:hover {
                cursor: grabbing;
            }
            .swiper-slide {
                .home_content {
                    padding: 9rem 0 2rem;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 3rem;
                    @media screen and (max-width: 992px) {
                        padding: 8rem 0 2rem;
                    }
                    @media screen and (max-width: 767px) {
                        padding: 0;
                        grid-template-columns: 1fr;
                        row-gap: 1rem;
                    }
                    .home_group {
                        display: grid;
                        position: relative;
                        padding-top: 2rem;
                        .home_img {
                            height: 420px;
                            transform: translateY(-4rem);
                            justify-self: center;
                            @media screen and (max-width: 1200px) {
                                height: 400px;
                            }
                            @media screen and (max-width: 992px) {
                                height: 300px;
                                transform: translateY(0);
                            }
                            @media screen and (max-width: 767px) {
                                height: 250px;
                            }
                            @media screen and (max-width: 320px) {
                                height: 200px;
                            }
                        }
                        .home_indicator {
                            width: 8px;
                            height: 8px;
                            background-color: $titleColor;
                            border-radius: 100%;
                            position: absolute;
                            bottom: 15%;
                            left: 50%;
                            &::after {
                                content: "";
                                position: absolute;
                                top: 0;
                                right: 45%;
                                width: 1px;
                                height: 75px;
                                background-color: $titleColor;
                                @media screen and (max-width: 992px) {
                                    top: -3rem;
                                    height: 48px;
                                }
                            }
                            @media screen and (max-width: 992px) {
                                bottom: initial;
                                left: initial;
                                top: 7rem;
                                right: 2rem;
                            }
                        }
                        .home_details-img {
                            position: absolute;
                            bottom: 0;
                            right: 58%;
                            @media screen and (max-width: 992px) {
                                right: 0.5rem;
                                bottom: initial;
                            }
                            .home_details-subtitle {
                                font-size: $sizeh3 !important;
                                text-transform: uppercase;
                                margin-bottom: $margin-B1;
                                @media screen and (max-width: 992px) {
                                    font-size: $size;
                                }
                            }
                            .home_details-title,
                            .home_details-subtitle {
                                display: block;
                                text-align: right;
                                font-size: $sizeS;
                                @media screen and (max-width: 992px) {
                                    font-size: $sizeXS;
                                }
                            }
                        }
                    }
                    .home_data {
                        .home_title {
                            font-size: $size1;
                            font-weight: 600;
                            line-height: 119%;
                            margin-bottom: $margin-B2;
                            @media screen and (max-width: 992px) {
                                font-size: $sizeh1;
                            }
                            @media screen and (max-width: 767px) {
                                margin-bottom: $margin-B2b;
                            }
                        }
                        .home_description {
                            margin-bottom: $margin-B2b;
                            padding-right: 2rem;
                            @media screen and (max-width: 992px) {
                                padding-right: 0;
                            }
                            @media screen and (max-width: 767px) {
                                margin-bottom: $margin-B3;
                            }
                        }
                        .home_buttons {
                            display: flex;
                            justify-content: space-between;
                            @media screen and (max-width: 320px) {
                                flex-direction: column;
                                width: max-content;
                                row-gap: 1rem;
                            }
                            .button-link {
                                color: var(--first-color);
                                .button_icon {
                                    font-size: $sizeh2;
                                    @media screen and (max-width: 992px) {
                                        font-size: $sizeh3 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.discount {
    .discount_container {
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        column-gap: 7rem;
        background-color: $textwhite;
        padding: 3rem 0;
        border-radius: 3rem;
        @media screen and (max-width: 992px) {
            column-gap: 3rem;
        }
        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
            row-gap: 1.25rem;
            padding: 2.5rem 0 1.5rem;
            border-radius: 1rem;
        }
        .discount_img {
            width: 200px;
            @media screen and (max-width: 767px) {
                justify-self: center;
                order: 1;
            }
        }
        .discount_data {
            padding-left: 6rem;
            text-align: center;
            @media screen and (max-width: 767px) {
                padding-left: 0;
            }
            .discount_title {
                font-size: $sizeh2;
                margin-bottom: $margin-B2;
                @media screen and (max-width: 992px) {
                    font-size: $sizeh3;
                }
            }
        }
    }
}
.new {
    .new_container {
        padding: 1rem;
        .new_content {
            position: relative;
            background-color: $textwhite;
            width: 307px;
            padding: 2rem 0;
            text-align: center;
            border-radius: 1rem;
            overflow: hidden;
            &:hover{
                cursor: grabbing;
            }
            @media screen and (max-width: 992px) {
                width: 243px;
                padding: 2rem 0 1.5rem 0;
            }
            &:hover {
                .new_button {
                    right: 2%;
                }
                .new_img {
                    transform: translateY(-0.5rem);
                }
            }
            .new_tag {
                position: absolute;
                top: 8%;
                left: 8%;
                background: var(--first-color);
                color: $textwhite;
                font-size: $sizeS;
                padding: 0.25rem 0.5rem;
                border-radius: 0.25rem;
                transition: all 300ms ease;
                @media screen and (max-width: 992px) {
                    font-size: $sizeXS;
                }
            }
            .new_title {
                font-size: $sizeh3;
                font-weight: 500;

                @media screen and (max-width: 992px) {
                    font-size: $size;
                }
            }
            .new_subtitle {
                display: block;
                font-size: $sizeS;
                margin-bottom: $margin-B1;

                @media screen and (max-width: 992px) {
                    font-size: $sizeXS;
                }
            }
            .new_prices {
                display: inline-flex;
                align-items: center;
                column-gap: 0.5rem;
                .new_price {
                    font-weight: 500;
                    color: $titleColor;
                }
                .new_discount {
                    color: var(--first-color);
                    font-size: $sizeS;
                    font-weight: 500;
                    text-decoration: line-through;
                    @media screen and (max-width: 992px) {
                        font-size: $sizeXS;
                    }
                }
            }
            .new_button {
                display: inline-flex;
                padding: 0.5rem;
                border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
                position: absolute;
                bottom: 0;
                right: -3rem;
                .new_icon {
                    font-size: 1.25rem;
                }
            }
            .new_img {
                width: 150px;
                margin-bottom: $margin-B1;
                transition: all 300ms ease;
                aspect-ratio: 1/1;
                @media screen and (max-width: 992px) {
                    width: 120px;
                }
            }
            .new_img,
            .new_subtitle {
                @media screen and (max-width: 992px) {
                    margin-bottom: $margin-Bs !important;
                }
            }
        }
    }
}
.steps {
    .steps_bg {
        background-color: $textwhite;
        padding: 3.5rem 2.5rem;
        @media screen and (max-width: 992px) {
            padding: 3rem 2rem 2rem;
        }
        @media screen and (max-width: 320px) {
            padding: 2rem 1rem;
        }
        .steps_container {
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            padding-top: 1rem;
            @media screen and (max-width: 992px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media screen and (max-width: 576px) {
                grid-template-columns: 1fr;
            }
            .steps_card {
                background-color: $bodyBg;
                padding: 2.5rem 3rem 2rem 1.5rem;
                border-radius: 1rem;
                @media screen and (max-width: 320px) {
                    padding: 1rem;
                }
                &:hover {
                    .steps_card-number {
                        transform: translateY(-0.25rem);
                    }
                }
                &-number {
                    display: inline-block;
                    background-color: var(--first-color);
                    color: $textwhite;
                    padding: 0.5rem 0.75rem;
                    border-radius: 0.25rem;
                    font-size: $sizeh2;
                    margin-bottom: $margin-B1;
                    transition: all 300ms ease;
                    @media screen and (max-width: 992px) {
                        font-size: $sizeh3;
                    }
                }
                &-title {
                    font-size: $size;
                    margin-bottom: $margin-BXs;
                    @media screen and (max-width: 992px) {
                        font-size: 0.935rem;
                    }
                }
                &-description {
                    font-size: $sizeS;
                    @media screen and (max-width: 992px) {
                        font-size: $sizeXS;
                    }
                }
            }
        }
    }
}
.newsletter {
    .newsletter_container {
        display: grid;
        grid-template-columns: 0.5fr;
        justify-content: center;
        @media screen and (max-width: 767px) {
            grid-template-columns: 0.7fr;
        }
        @media screen and (max-width: 576px) {
            grid-template-columns: 1fr;
        }
        .newsletter_description {
            padding: 0 3rem;
            text-align: center;
            margin-bottom: $margin-B2;
        }
        .newsletter_form {
            background-color: $textwhite;
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            border-radius: 0.75rem;
            .newsletter_input {
                width: 70%;
                padding: 0 0.75rem;
                background-color: transparent;
                color: $titleColor;
                &::placeholder {
                    color: $textColor;
                }
            }
            .newsLetterBtn {
                @media screen and (max-width: 380px) {
                    padding: 1rem 1rem;
                }
            }
        }
    }
}
.footer {
    position: relative;
    overflow: hidden;
    .footer_container {
        grid-template-columns: repeat(4, 1fr);
        align-items: stretch;
        justify-items: center;
        column-gap: 1rem;
        @media screen and (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 2rem;
        }
        @media screen and (max-width: 576px) {
            grid-template-columns: 1fr;
            justify-items: flex-start;
        }
        .footer_content {
            .footer_logo {
                color: $titleColor;
                text-transform: lowercase;
                font-family: 600;
                letter-spacing: 1px;
                display: inline-flex;
                align-items: center;
                column-gap: 0.25rem;
                margin-bottom: $margin-B1;
                .footer_logo-icon {
                    font-size: 1rem;
                }
            }
            .footer_description {
                margin-bottom: $margin-B2b;
            }
            .footer_social {
                display: flex;
                column-gap: 0.75rem;
                .footer_social-link {
                    display: inline-flex;
                    background-color: $textwhite;
                    border-radius: 0.25rem;
                    padding: 0.25rem;
                    color: $titleColor;
                    font-size: $size;
                    @media screen and (max-width: 992px) {
                        font-size: 0.935rem;
                    }
                    &:hover {
                        background-color: var(--first-color);
                        color: $textwhite;
                    }
                }
            }
            .footer_title {
                font-size: $sizeh2;
                margin-bottom: $margin-B1;
                @media screen and (max-width: 992px) {
                    font-size: $sizeh3;
                }
            }
            .footer_links {
                display: grid;
                row-gap: 0.38rem;
                .footer_link {
                    color: $textColor;
                    font-size: $sizeS;
                    transition: all 300ms ease;
                    &:hover {
                        color: $titleColor;
                    }
                    @media screen and (max-width: 992px) {
                        font-size: $sizeXS;
                    }
                }
            }
        }
    }
    .footer_copy {
        display: block;
        text-align: center;
        margin-top: 6rem;
        font-size: $sizeS;
        @media screen and (max-width: 992px) {
            font-size: $sizeXS;
        }
        @media screen and (max-width: 767px) {
            margin-top: 4.5rem;
        }
    }
}
.scrollUp {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background: var(--first-color);
    border-radius: 0.4rem;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem;
    z-index: $z-tooltip;
    opacity: 0.8;
    transition: all 300ms ease;
    &:hover {
        opacity: 1;
    }
    &-icon {
        font-size: 1.5rem;
        color: $textwhite;
    }
}
.cart {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: $bodyBg;
    z-index: $z-fixed;
    width: 420px;
    height: 100%;
    box-shadow: -2px 0 4px $shadow;
    padding: 3.5rem 2rem;
    transition: all 300ms ease;
    .closecartIcon {
        i {
            font-size: 2rem;
            color: $titleColor;
            position: absolute;
            top: 1.25rem;
            right: 0.9rem;
            cursor: pointer;
        }
    }
    .cart_title-center {
        font-size: $sizeh2;
        text-align: center;
        margin-bottom: $margin-B3;
        @media screen and (max-width: 992px) {
            font-size: $sizeh3;
        }
    }
    .cart_container {
        display: grid;
        row-gap: 1.5rem;
        .cart_card {
            display: flex;
            align-items: center;
            gap: 1rem;
            .cart_box {
                display: flex;
                align-items: center;
                padding: 0.75rem 1.25rem;
                background-color: $textwhite;
                img {
                    width: 85px;
                }
            }
            .cart_details {
                .cart_title {
                    font-size: $size;
                    margin-bottom: $margin-Bs;
                    @media screen and (max-width: 992px) {
                        font-size: $sizeS;
                    }
                }
                .cart_price {
                    display: block;
                    font-size: $sizeS;
                    color: var(--first-color);
                    margin-bottom: $margin-BXs;
                    @media screen and (max-width: 992px) {
                        font-size: $sizeXS;
                    }
                }
                .cart_amount {
                    column-gap: 3rem;
                }
                .cart_amount-content {
                    column-gap: 1rem;
                    .cart_amount-box {
                        display: inline-flex;
                        background-color: $textwhite;
                        padding: 0.25rem;
                        cursor: pointer;
                    }
                }
                .trash_cart {
                    i {
                        font-size: 1.15rem;
                        color: var(--first-color);
                        cursor: pointer;
                    }
                }
                .cart_amount,
                .cart_amount-content {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
    .cart_prices {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 6rem;
        .cart_price-item {
            font-size: $sizeS;
            @media screen and (max-width: 992px) {
                font-size: $sizeXS;
            }
        }
        .cart_price-total {
            font-size: $sizeh3;
            font-weight: 500;
            @media screen and (max-width: 992px) {
                font-size: $size;
            }
        }
        .cart_price-item,
        .cart_price-total {
            color: $titleColor;
        }
    }
}
.login {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: $bodyBg;
    z-index: $z-fixed;
    width: 420px;
    height: 100%;
    box-shadow: -2px 0 4px $shadow;
    padding: 3.5rem 2rem;
    transition: all 300ms ease;
    .closeLoginIcon {
        i {
            font-size: 2rem;
            color: $titleColor;
            position: absolute;
            top: 1.25rem;
            right: 0.9rem;
            cursor: pointer;
        }
    }
    .login_title {
        font-size: $sizeh2;
        text-align: center;
        margin-bottom: $margin-B3;
        @media screen and (max-width: 992px) {
            font-size: $sizeh3;
        }
    }
    .login_Form {
        row-gap: 1.5rem;
        .login_content {
            background-color: $textwhite;
            border-radius: 0.5rem;
            padding: 0.75rem 1rem 0.25rem;
            .login_label {
                font-size: $sizeS;
                color: $titleColor;
                @media screen and (max-width: 992px) {
                    font-size: $sizeXS;
                }
            }
            .login_input {
                width: 100%;
                background-color: $textwhite;
                color: $textColor;
                font-size: $size;
                padding: 0.25rem 0.5rem 0.5rem 0;
                @media screen and (max-width: 992px) {
                    font-size: $sizeS;
                }
            }
        }
        .signUp {
            color: $titleColor;
            font-size: $sizeS;
            font-weight: 500;
            a {
                color: var(--first-color);
            }
            @media screen and (max-width: 992px) {
                font-size: $sizeXS;
            }
        }
    }
}
